.nhl{
	text-align: center;
	color: black;
}



.img-nhl{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 10px royalblue;
	transition: all .5s;
	margin: 50px;
	image: center;
	padding: 15px;
	
	
}
.img-nhl:hover{
	transform: scale(1.06) rotate(10deg) ;
}





.img-blues{
	margin-top: 10px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px royalblue;
	transition: all .5s;
	margin-left: 50pxS;
	image: center;
}

.img-blues:hover{
	transform: scale(1.06) rotate(10deg) ;
}



.img-blackhawks{
	margin-top: 10px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px royalblue;
	transition: all .5s;
	margin-left: 50pxS;
	image: center;
}

.img-NHL-fight{
	margin-top: 10px;
	width: 300px;
	height: 200px;
	border-radius: 50%;
	border: 3px royalblue;
	transition: all .5s;
	margin-left: 50pxS;
}

.img-blackhawks:hover{
	transform: scale(1.06) rotate(10deg) ;
}

header{
	font-size: 1.35em;
	font-family: 'Varela Round', sans-serif;
	background: #fff;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-top: 5%;
	
}



.container{
	padding: 10px;
	border-radius: 5px;
	margin: 45px auto;
	box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
	background: #fff;

}
.main-item{
	padding: 15px;
	margin: 5px;
	border-radius: 3px;
	color: #ccc;
}


.item-nhl{
	background: #737373;
	padding: 15px;
	margin: 5px;
	border-radius: 10px;
	color: #ccc;
}

.item-blackhawks{
	background: #ff3333;
	padding: 15px;
	margin: 5px;
	border-radius: 10px;
	color: #ccc;
}

.item-blue{
	background: #3366ff;
	padding: 15px;
	margin: 5px;
	border-radius: 10px;
	color: #ccc;
}

.bio{
	padding: 10px;
	background: #ccc;
	border-radius: 5px;
	margin: 45px auto;
	box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
	text-align: center;
}

.hockey{
	padding: 10px;
	background: #fff;
	border-radius: 5px;
	margin: 45px auto;
	box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
}

.hockey-blues{
	padding: 10px;
	background: #3366ff;
	border-radius: 5px;
	margin: 45px auto;
	box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
}

.blues-article{
	padding: 15px;
	margin: 5px;
	border-radius: 3px;
	color: #ccc;
}

.blues-link{
	padding: 15px;
	margin: 5px;
	border-radius: 3px;
}

.hawks-article{
	padding: 15px;
	margin: 5px;
	border-radius: 3px;
	color: #ccc;
}

.hockey-hawks{
	padding: 10px;
	border-radius: 5px;
	margin: 45px auto;
	box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
	background: #ff3333;
}

.rivalry{
	padding: 10px;
	border-radius: 5px;
	margin: 45px auto;
	box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
	background: #ccc;
}

/*
 Flexbox
 */

@media (min-width:  769px) {



 .container,
 .main-item {
 	display: flex;
 	
 	 }
 .container{
 	flex-direction: column;
 	align-items: center;
 	flex-wrap: wrap;
 }

}

@media (min-width: 1025px) {
	.container{
		flex-direction: column;
		justify-content: space-between ;
		flex-wrap: wrap;
		align-items: center;
	}
}

 .container{
 	flex-wrap: wrap;
 }

 .main-item{ 	
 	flex-grow: 1;
 }
.item-nhl{
	flex-grow: 4;
}

.hockey{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background: #f0f8ff;
}

.hockey-blues{
	display: flex;
	color: #f0f8ff;
	flex
}

.hockey-hawks{
	display: flex;
	color: #000;
}

.img-nhl{
	display: flex;
	background: #fff;
}

.bio{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
	justify-content: space-evenly;
	background: #ccc;
}

.rivalry{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.h1-rival{

}